<!--Footer-->
<div class="footer">
    <div class="footer-content">
        <div class="footer-section about">
            <div class="socials">
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="footer-section links">
            <h2>Vendors</h2>
            <br>
            <ul>
                <a href="#">
                    <li> -Photographers </li>
                </a>
                <a href="#">
                    <li> -Mehendi Artists </li>
                </a>
                <a href="#">
                    <li> -Bridal Makeup </li>
                </a>
                <a href="#">
                    <li> -Magicians </li>
                </a>
                <a href="#">
                    <li> -Designers </li>
                </a>
            </ul>
        </div>
        <div class="footer-section contact-form">
            <h2>Contact Us.</h2>
            <h4>Address:</h4>
            <p>SHAPOORJI, Action Area III, Newtown, Kolkata, West Bengal 700156</p>
            <p><strong>Phone:</strong> +91 95875 46760</p>
            <p><strong>Email:</strong> info.venuefy@gmail.com</p>
        </div>
    </div>

    <div class="footer-bottom">
        &copy; Copyright 2020 Venuefy.in
    </div>
</div>

<!-- <footer>
<div class="footer-top"></div>
</footer> -->
<!--End Footer-->
</body>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</html>